.item-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.scrollable {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollable-content {
    padding-bottom: 1rem;
}