<div class="tab-bar text-light background-rojo p-3">
    <div class="tab-button d-flex align-items-center" (click)="redirectTo('/home')">
        <i class="bi bi-house-fill me-2" style="font-size: 1.5rem;"></i>
    </div>
    <div class="tab-button d-flex align-items-center" (click)="redirectTo('/streaming')">
        <i class="bi bi-cast me-2" style="font-size: 1.5rem;"></i>
    </div>
    <div class="tab-button d-flex align-items-center" (click)="redirectTo('/live')">
        <i class="bi bi-broadcast-pin me-2" style="font-size: 1.5rem;"></i>
    </div>
    <div class="tab-button d-flex align-items-center" (click)="redirectTo('/list')">
        <i class="bi bi-person-lines-fill bi-file-earmark-text-fill me-2" style="font-size: 1.5rem;"></i>
    </div>
</div>