@if(loading) {

} @else {
<div class="d-flex flex-column h-100">
    <!-- Botón desplegable -->
    <select [(ngModel)]="selectedView">
        <option value="info">Información principal</option>
        <option value="streaming">Streaming</option>
        <option value="live">Live</option>
        <option value="listado">Listado</option>
        <option value="options-listado">Opciones del listado</option>
        <option value="anuncios">Anuncios</option>
    </select>

    <!-- Contenedor de vistas -->
    @switch (selectedView) {
    @case ('info') {
    <ng-container>
        <div [ngTemplateOutlet]="infoTemplate"></div>
    </ng-container>
    }
    @case ('streaming') {
    <ng-container>
        <div [ngTemplateOutlet]="streamingTemplate"></div>
    </ng-container>
    }
    @case ('live') {
    <ng-container>
        <div [ngTemplateOutlet]="liveTemplate"></div>
    </ng-container>
    }
    @case ('listado') {
    <ng-container>
        <div [ngTemplateOutlet]="listadoTemplate"></div>
    </ng-container>
    }
    @case ('options-listado') {
    <ng-container>
        <div [ngTemplateOutlet]="listadoOptionsTemplate"></div>
    </ng-container>
    }
    @case ('anuncios') {
    <ng-container>
        <div [ngTemplateOutlet]="anunciosTemplate"></div>
    </ng-container>
    }
    }
</div>
}


<ng-template #infoTemplate>
    <div class="container scrollable">
        <h1>Modificar Información Principal</h1>
        <form [formGroup]="infoForm" class="py-3">

            <div class="form-group mb-3">
                <label for="title" class="text-naranja">Título del evento</label>
                <input type="text" id="title" class="form-control" formControlName="title" required>
                @if(infoForm.get('title')?.errors?.['required'] && infoForm.get('title')?.invalid &&
                (infoForm.get('title')?.touched || infoForm.get('title')?.dirty)) {
                <small class="text-danger">El título es obligatorio.</small>
                }
            </div>
            <div class="form-group mb-3">
                <label for="horario" class="text-naranja">Horario del evento</label>
                <input type="text" id="horario" class="form-control" formControlName="horario" required>
                @if(infoForm.get('horario')?.errors?.['required'] && infoForm.get('horario')?.invalid &&
                (infoForm.get('horario')?.touched || infoForm.get('horario')?.dirty)) {
                <small class="text-danger">El horario es obligatorio.</small>
                }
            </div>

            <div formArrayName="presentadores">
                <span class="h3 text-naranja">Presentadores</span>
                <div class="form-group my-3">
                    <label for="nombre" class="text-naranja">Nombre</label>
                    <input type="text" id="nombre" class="form-control" [formControl]="nombreControl">
                </div>
                <div class="form-group my-3">
                    <label for="info" class="text-naranja">Información extra</label>
                    <input type="text" id="info" class="form-control" [formControl]="infoControl">
                </div>
                <div class="form-group my-3">
                    <label for="src" class="text-naranja">Imagen</label>
                    <input type="text" id="src" class="form-control" [formControl]="srcControl">
                </div>
                <div class="d-flex justify-content-between align-items-end">
                    <button type="button" style="height: 38px;" class="btn btn-primary"
                        (click)="addPresentador()">Añadir</button>
                </div>
                <ul class="mt-3">
                    @for(presentador of presentadores.controls; track presentador; let i = $index) {
                    <li class="d-flex align-items-center">
                        <span>
                            {{ presentador.get('nombre')?.value | titlecase }} - {{ presentador.get('info')?.value }}
                        </span>
                        <button mat-icon-button color="warn" (click)="removePresentador(i)">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </li>
                    }
                </ul>
            </div>

            <div formArrayName="eventos">
                <span class="h3 text-naranja">Eventos</span>
                <div class="form-group my-3">
                    <label for="nuevoEvento" class="text-naranja">Título evento</label>
                    <input type="text" id="nuevoEvento" class="form-control" [formControl]="nuevoEventoControl">
                </div>
                <div class="d-flex justify-content-between align-items-end">
                    <button type="button" style="height: 38px;" class="btn btn-primary"
                        (click)="addEvento()">Añadir</button>
                </div>
                <ul class="mt-3">
                    @for (evento of eventos.controls; track evento; let i = $index) {
                    <li class="d-flex align-items-center">
                        <span>
                            {{ i }} - {{ evento.value }}
                        </span>
                        <button mat-icon-button color="warn" (click)="removeEvento(i)">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </li>
                    }
                </ul>
            </div>

            <div>
                <button type="submit" class="btn btn-primary btn-foc-rojo w-100" (click)="procesar(infoForm, 'event')"
                    [disabled]="infoForm.invalid">Guardar</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #streamingTemplate>
    <div class="container scrollable">
        <h1>Modificar streaming</h1>
        <form [formGroup]="streamingForm" class="py-3">

            <div class="form-group mb-3">
                <label for="title" class="text-naranja">Título del streaming</label>
                <input type="text" id="title" class="form-control" formControlName="title" required>
                @if(infoForm.get('title')?.errors?.['required'] && infoForm.get('title')?.invalid &&
                (infoForm.get('title')?.touched || infoForm.get('title')?.dirty)) {
                <small class="text-danger">El título es obligatorio.</small>
                }
            </div>

            <div class="form-group mb-3">
                <label for="subtitle" class="text-naranja">Subtítulo del streaming</label>
                <input type="text" id="subtitle" class="form-control" formControlName="subtitle" required>
                @if(infoForm.get('subtitle')?.errors?.['required'] && infoForm.get('subtitle')?.invalid &&
                (infoForm.get('subtitle')?.touched || infoForm.get('subtitle')?.dirty)) {
                <small class="text-danger">El Subtítulo es obligatorio.</small>
                }
            </div>

            <div class="form-group mb-3">
                <label for="src" class="text-naranja">Enlace del streaming</label>
                <input type="text" id="src" class="form-control" formControlName="src" required>
                @if(infoForm.get('src')?.errors?.['required'] && infoForm.get('src')?.invalid &&
                (infoForm.get('src')?.touched || infoForm.get('src')?.dirty)) {
                <small class="text-danger">El enlace es obligatorio.</small>
                }
            </div>

            <div class="form-group mb-3">
                <label for="height" class="text-naranja">Altura del streaming</label>
                <input type="text" id="height" class="form-control" formControlName="height" required>
                @if(infoForm.get('height')?.errors?.['required'] && infoForm.get('height')?.invalid &&
                (infoForm.get('height')?.touched || infoForm.get('height')?.dirty)) {
                <small class="text-danger">La altura es obligatoria.</small>
                }
            </div>

            <div class="form-group mb-3">
                <label for="width" class="text-naranja">Anchura del streaming</label>
                <input type="text" id="width" class="form-control" formControlName="width" required>
                @if(infoForm.get('width')?.errors?.['required'] && infoForm.get('width')?.invalid &&
                (infoForm.get('width')?.touched || infoForm.get('width')?.dirty)) {
                <small class="text-danger">La anchura es obligatoria.</small>
                }
            </div>

            <div>
                <button type="submit" class="btn btn-primary btn-foc-rojo w-100"
                    (click)="procesar(streamingForm, 'streaming')" [disabled]="streamingForm.invalid">Guardar</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #liveTemplate>
    <div class="container d-flex flex-column">
        <form [formGroup]="liveForm">

            <div class="form-group">
                <label for="tipo">Tipo de evento live</label>
                <select id="tipo" class="form-control" formControlName="tipo" required (change)="handleSelect($event)">
                    <option value="evento">Evento</option>
                    <option value="listado">Listado</option>
                </select>
            </div>

            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" id="titulo" class="form-control" formControlName="titulo">
            </div>

            @if(liveForm.controls['tipo'].value === 'listado') {
            <div class="container-item mt-3">
                <app-item-card [item]="liveItemControl.value"></app-item-card>
            </div>

            <div class="d-flex">
                <button class="btn btn-primary btn-foc-naranja" (click)="updateItem(liveItemId - 1)">Anterior</button>
                <select id="item" class="form-control" formControlName="item" required (change)="handleSelect($event)">
                    @for (itemFromList of itemList.items; track $index) {
                    <option [ngValue]="itemFromList">
                        {{ itemFromList.vidaEnFogueres.asociacion_order }} - {{
                        itemFromList.vidaEnFogueres.asociacion_label
                        }}
                    </option>
                    }
                </select>
                <button class="btn btn-primary btn-foc-naranja" (click)="updateItem(liveItemId + 1)">Siguiente</button>
            </div>
            } @else if (liveForm.controls['tipo'].value === 'evento') {
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea id="descripcion" class="form-control" formControlName="descripcion"></textarea>
            </div>
            }

            <div>
                <button type="submit" class="btn btn-primary btn-foc-rojo w-100" (click)="procesar(liveForm, 'live')"
                    [disabled]="liveForm.invalid">Guardar</button>
            </div>

        </form>

    </div>
</ng-template>

<ng-template #listadoOptionsTemplate>
    <div class="container scrollable">
        <h1>Modificar opciones de listado</h1>
        <form [formGroup]="listForm" class="py-3">

            <div class="form-group mb-3">
                <label for="title" class="text-naranja">Título del listado</label>
                <input type="text" id="title" class="form-control" formControlName="title" required>
                @if(infoForm.get('title')?.errors?.['required'] && infoForm.get('title')?.invalid &&
                (infoForm.get('title')?.touched || infoForm.get('title')?.dirty)) {
                <small class="text-danger">El título es obligatorio.</small>
                }
            </div>

            <div class="form-group mb-3">
                <label for="searching" class="text-naranja">Barra de búsqueda</label>
                <input type="text" id="searching" class="form-control" formControlName="searching" required>
                @if(infoForm.get('searching')?.errors?.['required'] && infoForm.get('searching')?.invalid &&
                (infoForm.get('searching')?.touched || infoForm.get('searching')?.dirty)) {
                <small class="text-danger">La barra de búsqueda es obligatoria.</small>
                }
            </div>

            <div formArrayName="filterKeys">
                <span class=" h3 text-naranja">Filter keys</span>
                <div class="form-group my-3">
                    <label for="filterKeys" class="text-naranja">Filtros</label>
                    <input type="text" id="filterKeys" class="form-control" [formControl]="nuevoFilterKey">
                </div>
                <div class="d-flex justify-content-between align-items-end">
                    <button type="button" style="height: 38px;" class="btn btn-primary"
                        (click)="addFilterKey()">Añadir</button>
                </div>
                <ul class="mt-3">
                    @for (filterKey of filterKeys.controls; track filterKey; let i = $index) {
                    <li class="d-flex align-items-center">
                        <span>
                            {{ i }} - {{ filterKey.value }}
                        </span>
                        <button mat-icon-button color="warn" (click)="removeFilterKey(i)">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </li>
                    }
                </ul>
            </div>

            <div class="form-group my-3">
                <button type="button" class="btn btn-success w-100" (click)="downloadListadoAsExcel()">
                    Descargar listado como Excel
                </button>
            </div>

            <div class="form-group my-3">
                <label for="excelUpload" class="text-naranja">Cargar nuevo listado</label>
                <input type="file" id="excelUpload" class="form-control" accept=".xlsx, .xls"
                    (change)="onExcelUpload($event)">
            </div>

            <div>
                <button type="submit" class="btn btn-primary btn-foc-rojo w-100" (click)="procesar(listForm, 'list')"
                    [disabled]="streamingForm.invalid">Guardar</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #anunciosTemplate>
    <div class="container scrollable">
        <h1>Anuncios</h1>
        <form [formGroup]="anunciosForm" class="py-3">

            <div class="form-group mb-3">
                <label for="timing" class="text-naranja">Timing anuncios</label>
                <input type="text" id="timing" class="form-control" formControlName="timing" required>
                @if(infoForm.get('timing')?.errors?.['required'] && infoForm.get('timing')?.invalid &&
                (infoForm.get('timing')?.touched || infoForm.get('timing')?.dirty)) {
                <small class="text-danger">El título es obligatorio.</small>
                }
            </div>

            <div class="form-group mb-3">
                <label for="activatedAdds" class="text-naranja me-3">Anuncios activos</label>
                <mat-slide-toggle formControlName="activatedAdds" color="primary">
                </mat-slide-toggle>
            </div>

            <!-- Input para cargar imágenes -->
            <div class="form-group my-3">
                <label for="imageUpload" class="text-naranja">Subir imagen</label>
                <input type="file" id="imageUpload" class="form-control" (change)="onFileSelected($event)">
            </div>

            <div formArrayName="anuncios">
                <span class="h3 text-naranja">Anuncios</span>
                <ul class="mt-3">
                    @for (addKey of anuncios.controls; track addKey; let i = $index) {
                    <li class="d-flex align-items-center">
                        <!-- Muestra una miniatura de la imagen -->
                        <img [src]="addKey.value" alt="Anuncio {{ i }}" class="img-thumbnail me-3"
                            style="width: 100px; height: auto;">
                        <button mat-icon-button color="warn" (click)="removeAdd(i, addKey.value)">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </li>
                    }
                </ul>
            </div>



            <div>
                <button type="submit" class="btn btn-primary btn-foc-rojo w-100"
                    (click)="procesar(anunciosForm, 'anuncios')" [disabled]="anunciosForm.invalid">Guardar</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #listadoTemplate>
    <div class="container scrollable">
        <h1>Listado de Items</h1>
        <div cdkDropList (cdkDropListDropped)="drop($event)" class="list-group">
            <div *ngFor="let item of itemList.items" cdkDrag
                class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    {{ item.vidaEnFogueres.asociacion_order }} - {{ item.vidaEnFogueres.asociacion_label }}
                </span>
                <i class="bi bi-grip-vertical"></i> <!-- Icono para indicar que es arrastrable -->
            </div>
        </div>
    </div>
</ng-template>