@use "../../../variables" as *;

app-anuncios-form,
app-info-form,
app-streaming-form,
app-live-form,
app-list-form,
app-list-options-form {
    height: 100%;
}

.container-item {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.scrollable {
    overflow: auto;
    height: 100%;
}

.formulario-container {
    overflow: auto;
    height: calc(var(--app-viewport-height) - 105px);
}