@if(loading) {

} @else {
<div class="d-flex flex-column h-100">
    <!-- Botón desplegable -->
    <select [(ngModel)]="selectedView">
        <option value="info">Información principal</option>
        <option value="streaming">Streaming</option>
        <option value="live">Live</option>
        <option value="listado">Listado</option>
        <option value="options-listado">Opciones del listado</option>
        <option value="anuncios">Anuncios</option>
    </select>

    <!-- Contenedor de vistas -->
    @switch (selectedView) {
    @case ('info') {
    <app-info-form [infoForm]="infoForm" (formSubmit)="procesar($event, 'info')">
    </app-info-form>
    }
    @case ('streaming') {
    <app-streaming-form [streamingForm]="streamingForm" (formSubmit)="procesar($event, 'streaming')">
    </app-streaming-form>
    }
    @case ('live') {
    <app-live-form [liveForm]="liveForm" [itemList]="itemList" [liveItemId]="liveItemId"
        (formSubmit)="procesar($event, 'live')">
    </app-live-form>
    }
    @case ('listado') {
    <ng-container>
        <div [ngTemplateOutlet]="listadoTemplate"></div>
    </ng-container>
    }
    @case ('options-listado') {
    <app-list-options-form [listForm]="listForm" [itemList]="itemList" (formSubmit)="procesar($event, 'list')">
    </app-list-options-form>
    }
    @case ('anuncios') {
    <app-anuncios-form [anunciosForm]="anunciosForm" (formSubmit)="procesar($event, 'anuncios')">
    </app-anuncios-form>
    }
    }
</div>
}

<ng-template #listadoTemplate>
    <div class="container scrollable">
        <h1>Listado de Items</h1>
        <div cdkDropList (cdkDropListDropped)="drop($event)" class="list-group">
            <div *ngFor="let item of itemList.items" cdkDrag
                class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    {{ item.vidaEnFogueres.asociacion_order }} - {{ item.vidaEnFogueres.asociacion_label }}
                </span>
                <i class="bi bi-grip-vertical"></i> <!-- Icono para indicar que es arrastrable -->
            </div>
        </div>
    </div>
</ng-template>