@import '../../../../variables.scss';

/* filepath: /g:/Proyectos/FFSJ/ffsj-candidatas/src/app/components/libro-candidatas/candidata/candidata.component.scss */
.animated-image {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.animated-image.ng-enter,
.animated-image.ng-leave {
    opacity: 0;
}

/* filepath: /g:/Proyectos/FFSJ/ffsj-candidatas/src/app/components/libro-candidatas/candidata-card/candidata-card.component.scss */
.position-relative {
    position: relative;
}

.overlay-circle {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.image-candidata {
    height: 250px;
}

.data-candidata {
    height: 140px;
}

.candidata {
    .candidata-data {
        height: 4rem;
    }

    .asociacion-label {
        font-size: 0.8rem;
    }
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 50px;
    height: 50px;
}