<div class="container scrollable">
    <div class="row g-1">
        <div class="d-flex flex-column">
            <span><b>{{candidataData.informacionPersonal.nombre}}</b></span>
            <span>{{candidataData.vidaEnFogueres.asociacion_label}}</span>
        </div>
    </div>
    <div class="row g-0">
        @if(isTelefono) {
        <img [src]="currentImage" class="img-fluid rounded-start animated-image" alt="Foto bellesa"
            (click)="toggleImage()">
        } @else {
        <div class="col-md-6">
            <img [src]="candidataData.documentacion.fotoBelleza" class="img-fluid rounded-start animated-image"
                alt="Foto bellesa">
        </div>
        <div class="col-md-6">
            <img [src]="candidataData.documentacion.fotoCalle" class="img-fluid rounded-start animated-image"
                alt="Foto alternativa">
        </div>
        }
    </div>
    <div class="row g-0">
        <div class="col-md-12">
            <mat-tab-group>
                <mat-tab label="Información personal">
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <span class="h2">Información personal</span>
                            <span><b>Fecha nacimiento:
                                </b>{{candidataData.informacionPersonal.fechaNacimiento}}</span>
                            <span><b>Edad: </b>{{candidataData.informacionPersonal.edad}} años</span>
                            <span><b>Ciudad: </b>{{candidataData.informacionPersonal.ciudad}}</span>
                        </div>
                        <hr>
                        <div class="d-flex flex-column">
                            <span class="h2">Información de la fiesta</span>
                            <span><b>Años en la fiesta: </b>{{candidataData.vidaEnFogueres.anyosFiesta}}
                                años</span>
                            <span><b>Curriculum festero: </b>{{candidataData.vidaEnFogueres.curriculum}}</span>
                        </div>
                        <hr>
                        <div class="d-flex flex-column">
                            <span class="h2">Información académica y laboral</span>
                            <span><b>Estudios: </b>{{candidataData.academico.formacion}}</span>
                            <span><b>Situación laboral: </b>{{candidataData.academico.situacionLaboral}}</span>
                            <span><b>Aficiones: </b>{{candidataData.academico.aficiones}}</span>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Anotaciones">
                    <div class="card-body my-2">
                        <div class="d-flex flex-column">
                            <textarea class="form-control" rows="10" [(ngModel)]="anotaciones"></textarea>
                            <button class="mt-3 w-100 btn btn-foc-naranja" (click)="saveAnotaciones()">Guardar</button>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>