@if (loading) {
<lib-ffsj-spinner [fullscreen]="false"></lib-ffsj-spinner>
}
@if(itemData && !loading) {
<div class="container" [ngClass]="isLive ? [] : ['scrollable']">
    <div class="row g-1">
        <div class="d-flex flex-column">
            <span><b>{{itemData.informacionPersonal.nombre}}</b></span>
            <span>{{itemData.vidaEnFogueres.asociacion_label}}</span>
        </div>
    </div>
    <div class="row g-0">
        @if(isTelefono) {
        <img [src]="currentImage" class="img-fluid rounded-start animated-image" alt="Foto bellesa"
            (click)="toggleImage()">
        } @else {
        <div class="col-md-6">
            <img [src]="itemData.documentacion.fotoBelleza" class="img-fluid rounded-start animated-image"
                alt="Foto bellesa">
        </div>
        <div class="col-md-6">
            <img [src]="itemData.documentacion.fotoCalle" class="img-fluid rounded-start animated-image"
                alt="Foto alternativa">
        </div>
        }
    </div>
    <div class="row g-0">
        <div class="col-md-12">
            <mat-tab-group>
                <!-- Información Personal -->
                <mat-tab label="Información personal">
                    <div class="card-body">
                        <div class="d-flex flex-column p-3 bg-light rounded shadow-sm">
                            <span class="h4 text-rojo mb-3">Información Personal</span>
                            <span class="mb-2"><b>Edad:</b> {{itemData.informacionPersonal.edad}} años</span>
                            <span class="mb-2"><b>Ciudad:</b> {{itemData.informacionPersonal.ciudad}}</span>
                        </div>
                        <hr>
                        <!-- Información de la Fiesta -->
                        <div class="d-flex flex-column p-3 bg-light rounded shadow-sm">
                            <span class="h4 text-rojo mb-3">Información de la Fiesta</span>
                            <span class="mb-2"><b>Años en la fiesta:</b> {{itemData.vidaEnFogueres.anyosFiesta}}
                                años</span>
                            <span class="mb-2"><b>Asociación:</b> {{itemData.vidaEnFogueres.asociacion_label}}</span>
                            <span class="h5 text-secondary mt-3">Curriculum Festero:</span>
                            <ul class="list-group mt-2">
                                @for(cargo of parsedCurriculum; track cargo) {
                                <li class="list-group-item">
                                    <b>{{cargo.cargo}}</b>
                                    @if(cargo.comienzo) {
                                    <span>({{cargo.comienzo}} - {{cargo.final || 'Actualidad'}})</span>
                                    }
                                </li>
                                }
                            </ul>
                        </div>
                        <hr>
                        <!-- Información Académica y Laboral -->
                        <div class="d-flex flex-column p-3 bg-light rounded shadow-sm">
                            <span class="h4 text-rojo mb-3">Información Académica y Laboral</span>
                            <span class="mb-2"><b>Estudios:</b> {{itemData.academico.formacion}}</span>
                            <span class="mb-2"><b>Situación laboral:</b> {{itemData.academico.situacionLaboral}}</span>
                            <span class="mb-2"><b>Aficiones:</b> {{itemData.academico.aficiones}}</span>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
}