@if (loading) {
<lib-ffsj-spinner [fullscreen]="false"></lib-ffsj-spinner>
}
@if(itemData && !loading) {
<div class="container" [ngClass]="isLive ? [] : ['scrollable']">
    <div class="row g-1">
        <div class="d-flex flex-column">
            <span><b>{{itemData.informacionPersonal.nombre}}</b></span>
            <span>{{itemData.vidaEnFogueres.asociacion_label}}</span>
        </div>
    </div>
    <div class="row g-0">
        @if(isTelefono) {
        <img [src]="currentImage" class="img-fluid rounded-start animated-image" alt="Foto bellesa"
            (click)="toggleImage()">
        } @else {
        <div class="col-md-6">
            <img [src]="itemData.documentacion.fotoBelleza" class="img-fluid rounded-start animated-image"
                alt="Foto bellesa">
        </div>
        <div class="col-md-6">
            <img [src]="itemData.documentacion.fotoCalle" class="img-fluid rounded-start animated-image"
                alt="Foto alternativa">
        </div>
        }
    </div>
    <div class="row g-0">
        <div class="col-md-12">
            <mat-tab-group>
                <mat-tab label="Información personal">
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <span class="h2">Información personal</span>
                            <span><b>Fecha nacimiento:
                                </b>{{itemData.informacionPersonal.fechaNacimiento}}</span>
                            <span><b>Edad: </b>{{itemData.informacionPersonal.edad}} años</span>
                            <span><b>Ciudad: </b>{{itemData.informacionPersonal.ciudad}}</span>
                        </div>
                        <hr>
                        <div class="d-flex flex-column">
                            <span class="h2">Información de la fiesta</span>
                            <span><b>Años en la fiesta: </b>{{itemData.vidaEnFogueres.anyosFiesta}}
                                años</span>
                            <span><b>Curriculum festero: </b>{{itemData.vidaEnFogueres.curriculum}}</span>
                        </div>
                        <hr>
                        <div class="d-flex flex-column">
                            <span class="h2">Información académica y laboral</span>
                            <span><b>Estudios: </b>{{itemData.academico.formacion}}</span>
                            <span><b>Situación laboral: </b>{{itemData.academico.situacionLaboral}}</span>
                            <span><b>Aficiones: </b>{{itemData.academico.aficiones}}</span>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
}