@import "../../../../variables.scss";

.container-item {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.scrollable {
    overflow: auto;
    height: calc(100% - 63px);
}

.formulario-container {
    overflow: auto;
    height: calc(100vh - 105px);
}