/* filepath: /g:/Proyectos/FFSJ/ffsj-candidatas/src/app/components/libro-candidatas/listado/listado.component.scss */
.candidata-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    /* Espacio entre las tarjetas */
}